extends layout
block content

  table.splash-table
    tr
      td
        img(src='img/spacer.png', height='70px')
    tr
      td
        a(href='bom')
          img(src='img/npm-logo2.png', width='30%')
    tr
      td
        div.jumbotron.jumbotron-fluid
          h3.display-8 A Bill-of-Material Example with NPM data
          p.lead And Azure CosmosDB with Gremlin
    tr
      td
        a(href='https://azure.microsoft.com/en-us/services/cosmos-db/')
          img(src='img/cosmosgremlinblog-1024x396.png', width='45%')
    tr
      td
        img(src='img/spacer.png', height='100px')
